<div ng-cloak class="details">
  <header ng-click="dashboard()">
    <div class="chevron" chevron="left"></div>
    {{blueprint.title}}
  </header>
  <div class="content">
    <img ng-src="{{blueprint.icon_url}}" class="icon">
    <h2>{{blueprint.title}}</h2>
    <h3 ng-if="blueprint.incentive_value">Earn up to {{blueprint.incentive_value}}!</h3>
    <h3 ng-if="!blueprint.incentive_value && blueprint.possible_earnings_description">{{blueprint.possible_earnings_description}}</h3>
    <p>{{blueprint.description}}</p>
    <div class="incentives" ng-if="blueprint.incentive_description">
      <p>{{blueprint.incentive_description}}</p>
      <div class="desc" title="{{goal.title}}" ng-repeat="goal in blueprint.goals">{{goal.incentive_value}} to {{goal.description}}</div>
    </div>



  </div>
  <footer></footer>
</div>
<!--p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p-->